body{
  margin: 0;
  padding: 0;
  background-color: #1f1e1e;
}
.secondaryBtn{
  background-color: rgb(71,71,71);
  color: white;
  margin-top:25px ;
  padding: 8px;
  width: 60px;
  cursor: pointer;
}
.secondaryBtn:hover{
  background-color:rgb(4,196,106) ;
}
.active{
  
}


